<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hzy.hzypicturebackend.mapper.SpaceResourcePackMapper">

    <resultMap id="BaseResultMap" type="com.hzy.hzypicturebackend.model.entity.SpaceResourcePack">
            <id property="id" column="id" />
            <result property="spaceId" column="spaceId" />
            <result property="userId" column="userId" />
            <result property="adminId" column="adminId" />
            <result property="addSize" column="addSize" />
            <result property="addCount" column="addCount" />
            <result property="packName" column="packName" />
            <result property="createTime" column="createTime" />
            <result property="updateTime" column="updateTime" />
            <result property="isDelete" column="isDelete" />
    </resultMap>

    <sql id="Base_Column_List">
        id,spaceId,userId,adminId,addSize,addCount,
        packName,createTime,updateTime,isDelete
    </sql>
</mapper>
